@model SEO_Reporting_Portal.ViewModels.AdminDashboardViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}




<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.TotalUsers</h3>
                <p>Users</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a asp-action="Index" asp-controller="Users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.TotalReports</h3>
                <p>Reports</p>
            </div>
            <div class="icon">
                <i class="fas fa-file"></i>
            </div>
            <a asp-action="Index" asp-controller="Reports" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.TotalGeneralInquiries</h3>
                <p>General Inquiries</p>
            </div>
            <div class="icon">
                <i class="fas fa-inbox"></i>
            </div>
            <a href="#general-inquiry-container" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.TotalReportComments</h3>
                <p>Report Inquiries</p>
            </div>
            <div class="icon">
                <i class="fas fa-comment-alt"></i>
            </div>
            <a asp-action="Inquiries" asp-controller="Reports" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12 p-3">
        <h3>General Inquiries</h3>
    </div>
    <div class="col-12">
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        <p>Users</p>
                    </div>
                </div>
                <div id="contacts" class="inbox-users-container">
                    <ul class="inbox-users">
                    </ul>
                </div>
                <div id="bottom-bar">
                    <a asp-action="Index" asp-controller="Users" id="addcontact"><i class="fa fa-user-plus fa-fw"></i> <span>Add User</span></a>
                </div>
            </div>
            <div class="content">
                <div class="contact-profile user-profile">

                </div>
                <div class="messages chat-container">
                    <ul class="chat-list">
                    </ul>
                </div>
                <div class="message-input">
                    <div class="wrap">
                        <form class="bg-light" method="post">
                            <input type="text" id="txt-message" placeholder="Write your message..." />
                            <button type="submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/adminDashboard.js"></script>
}


