@model SEO_Reporting_Portal.ViewModels.UserDashboardViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fas fa-file"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total Reports</span>
                <span class="info-box-number">@Model.TotalReports</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="far fa-clock"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Upcoming Report</span>
                <span class="info-box-number">@Model.UpcomingReportDays Days</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fas fa-calendar-plus"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Contract Start Date</span>
                <span class="info-box-number">@Model.ContractStartDate</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fas fa-calendar-times"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Contract End Date</span>
                <span class="info-box-number">@Model.ContractEndDate</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>


<div class="row no-gutters mb-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="chat-card m-0">
            <!-- Row start -->
            <div class="chat-container">
                <ul class="chat-list chatContainerScroll">
                </ul>

                <form class="bg-light send-msg-form" method="post">
                    <div class="form-group m-0">
                        <div class="input-group">
                            <input type="text" id="txt-message" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light messg">
                            <div class="input-group-append">
                                <button type="submit" class="send-message-btn btn btn-link"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Row end -->
</div>


@section scripts {
    <script src="~/js/userDashboard.js"></script>
}
