@model SEO_Reporting_Portal.ViewModels.ForgotPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Forgot Password";
}

<form class="login100-form validate-form" asp-controller="Account" asp-action="ForgotPassword" id="account" method="post">
    <span class="login100-form-title p-b-43">
        Forgot Password
    </span>

    <p>@Model.StatusMessage</p>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
