@model SEO_Reporting_Portal.ViewModels.SetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Set Password";
}

<form class="login100-form validate-form" asp-controller="Account" asp-action="SetPassword" id="set-password-form" method="post">
    <span class="login100-form-title p-b-43">
        Set your password
    </span>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Set password</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}